<div class="container mt-3 bg-light p-4">
<h2>Edit a flat</h2>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :number_of_guests %>
    <%= f.input :price_per_night %>
    <%= f.submit "Save", class: 'btn btn-primary my-4' %>
    <%= link_to "Clancel", flats_path, class: 'btn btn-danger'%>
  <% end %>
</div>
