<div class = "d-flex m-3 justify-content-between flex-wrap">
<% @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body bg-light d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.address %></p>
      </div>
      <div class= "card-text d-flex align-items-center">
        <i class="fa-solid fa-user-group p-1"></i>
        <%= flat.number_of_guests%>
        <i class="fa-solid fa-euro-sign p-1"></i>
        <%= flat.price_per_night%>
      </div>
    </div>
    <div class="card-footer bg-white">
      <%= link_to "More info", flat_path(flat.id), class: "text-decoration-none p-1"%>
      <%= link_to "Edit", edit_flat_path(flat.id), class: "text-decoration-none text-warning p-1"%>
      <%= link_to "Remove", flat_path(flat.id),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none text-danger p-1"%>
    </div>
  </div>
<% end %>
</div>
